html {
    background: #333;
}

canvas#viewport {
    display: block;
    width: 800px;
    margin: 0 auto;
    border: 1px solid #000;
}

div#jaws-log {
    background: #000;
}

p {
    text-align: center;
    color: #000;
    font-family: Helvetica;
}