html {
    background: #333;
    color: #fff;
    font-family: Helvetica;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas#viewport {
    display: block;
    width: 800px;
    margin: 0 auto;
    border: 1px solid #000;
}

div#jaws-log {
    background: #000;
}

p {
    text-align: center;
    color: #000;
    font-family: Helvetica;
}

div.center {
    width: 800;
    margin: 0 auto;
    text-align: center;
}